.footer {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 50px;
    color: white;
    background-color: black;
}
.footer-inside-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 70%;
    height: 50px;
    font-size: 14px;
}